<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>022_HQ_3x3.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>Colosseum.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>RCB.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>ball court.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,384},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>palace lv 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>palace lv 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,768},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3x3 build updated.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c302ccc8be5e47a15ccaefce7ef67f06$</string>
            <key>textureFileName</key>
            <string>3x3 build updated.png</string>
        </dict>
    </dict>
</plist>
