<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbleEmote.png</string>
            <key>size</key>
            <string>{104,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2327749b0c6c011ca10f064d852570c6:0ac0b273988eedc2c7dbd50f20be9b23:5840b886e5e9d4a61ea1f40e1558c153$</string>
            <key>textureFileName</key>
            <string>bubbleEmote.png</string>
        </dict>
    </dict>
</plist>
