<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,545},{260,68}}</string>
                <key>offset</key>
                <string>{-126,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{260,68}}</string>
                <key>sourceSize</key>
                <string>{516,132}</string>
            </dict>
            <key>build-menu_goldreq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2327,502},{72,53}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{72,53}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
            <key>build-menu_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,545},{81,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{81,81}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>build-menu_time-req.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,545},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,57}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>buildmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2053,4},{370,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,492}}</string>
                <key>sourceSize</key>
                <string>{370,492}</string>
            </dict>
            <key>demolish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2053,502},{130,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{130,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>path-destroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2189,502},{132,98}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>path.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,545},{132,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{132,68}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>scroller_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{83,635}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,635}}</string>
                <key>sourceSize</key>
                <string>{85,635}</string>
            </dict>
            <key>scrollermiddle_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,4},{1954,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1954,535}}</string>
                <key>sourceSize</key>
                <string>{1954,535}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuildScrollUI.png</string>
            <key>size</key>
            <string>{2427,643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cdd2b59fa499229b8233b220818bc75:62ed4fb6e396b3abfa32717a03acbd5f:c304f0ab5d25384326f61b6cdd1a8060$</string>
            <key>textureFileName</key>
            <string>BuildScrollUI.png</string>
        </dict>
    </dict>
</plist>
