<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Building Info UI placeholder_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{578,418}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{578,418}}</string>
                <key>sourceSize</key>
                <string>{604,430}</string>
            </dict>
            <key>Closebtn_Sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,268},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>FemaleBandit_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,142},{118,112}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>FemaleFarmer_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,256},{98,112}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{98,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>FemaleVillager_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,260},{116,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Girl_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,261},{104,114}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{104,114}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>MaleBandit_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,142},{118,112}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{118,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>MaleFarmer_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,226},{118,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{118,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>MaleOldMan_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,137},{96,118}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{96,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>MaleVillager_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,226},{116,132}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>MaleYoungVillager_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,226},{98,128}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{98,128}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>Soldier_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,260},{114,126}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{114,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>YoungGirl_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,142},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{104,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>allocatebtn-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,115},{355,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{355,105}}</string>
                <key>sourceSize</key>
                <string>{361,107}</string>
            </dict>
            <key>allocatebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,4},{355,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{355,105}}</string>
                <key>sourceSize</key>
                <string>{361,107}</string>
            </dict>
            <key>assign_menu_filled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,4},{133,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,132}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>assign_menu_unfilled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,4},{127,126}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{127,126}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,4},{260,258}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,258}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>rice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,4},{136,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,136},{101,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{101,114}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,363},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>yuanbao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,268},{200,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,89}}</string>
                <key>sourceSize</key>
                <string>{200,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuildingInforMenuUI.png</string>
            <key>size</key>
            <string>{1658,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45aa91d731efca30ba6b41c20160210f:dd3193d421fa08bec9647fb15c5efcb6:c6268ec486375efb0a6f57a922517dde$</string>
            <key>textureFileName</key>
            <string>BuildingInforMenuUI.png</string>
        </dict>
    </dict>
</plist>
