<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emotionicon_anima.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,512}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commonEmote.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac87aced0192f2f13dd025ed35d5eea:5428a89207f5f2e422ac8dece86944e2:03ee0cc3a2d886c69d2758ecd2a488c7$</string>
            <key>textureFileName</key>
            <string>commonEmote.png</string>
        </dict>
    </dict>
</plist>
