<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>disappear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,208}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{244,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>disappearAnim.png</string>
            <key>size</key>
            <string>{248,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01948722c99ba73aad578707eaea5292:37746c02686f5f48f260fadc47821b00:531f5e8d89ae940b45a7ef4fec819c8c$</string>
            <key>textureFileName</key>
            <string>disappearAnim.png</string>
        </dict>
    </dict>
</plist>
