<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectPopulationUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{2050,825}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{2050,825}}</string>
                <key>sourceSize</key>
                <string>{2052,865}</string>
            </dict>
            <key>assign_menu_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,389},{111,109}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{111,109}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>assign_menu_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,264},{120,119}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{120,119}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>characterbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1229},{133,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{133,134}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>loading screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,835},{516,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,388}}</string>
                <key>sourceSize</key>
                <string>{516,388}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1732},{671,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{671,100}}</string>
                <key>sourceSize</key>
                <string>{681,120}</string>
            </dict>
            <key>popup_dialogbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1264},{1010,438}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,438}}</string>
                <key>sourceSize</key>
                <string>{1010,454}</string>
            </dict>
            <key>scroller.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,835},{1660,423}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{1660,423}}</string>
                <key>sourceSize</key>
                <string>{1664,427}</string>
            </dict>
            <key>sortbyenergy_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1732},{157,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{157,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyenergy_downpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1591},{157,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{157,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyenergy_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1480},{157,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{157,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyenergy_uppress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1369},{157,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{157,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyhappiness_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1813},{159,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{159,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyhappiness_downpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1702},{159,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{159,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyhappiness_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1732},{159,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{159,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>sortbyhappiness_uppress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1732},{159,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{159,105}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>speechdialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1264},{877,462}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{877,462}}</string>
                <key>sourceSize</key>
                <string>{911,482}</string>
            </dict>
            <key>stopsign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,1229},{106,106}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{106,106}}</string>
                <key>sourceSize</key>
                <string>{112,110}</string>
            </dict>
            <key>swordAnimation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,4},{114,254}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{114,254}}</string>
                <key>sourceSize</key>
                <string>{132,260}</string>
            </dict>
            <key>workers_assign_ui_girl_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,504},{85,96}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{85,96}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>workers_menu_buttonCollider.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1708},{5,5}}</string>
                <key>offset</key>
                <string>{-390,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{785,159}</string>
            </dict>
            <key>workers_menu_selectedBG_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1708},{763,129}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{763,129}}</string>
                <key>sourceSize</key>
                <string>{785,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Extra.png</string>
            <key>size</key>
            <string>{2190,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa72fd4a7b5a42fe4d0300adb0d8d61:a204cbdf598131f05c8d5a94e021e56f:d81c544d8b9524bde8f22d2702f7ad20$</string>
            <key>textureFileName</key>
            <string>Extra.png</string>
        </dict>
    </dict>
</plist>
