<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameArea</key>
	<array>
		<dict>
			<key>xIndex</key>
			<integer>0</integer>
			<key>yIndex</key>
			<integer>0</integer>
			<key>HasBuildingIndex</key>
			<integer>-1</integer>
			<key>IsPath</key>
			<false/>
			<key>IsEnvironment</key>
			<false/>
		</dict>
		<dict>
			<key>xIndex</key>
			<integer>0</integer>
			<key>yIndex</key>
			<integer>0</integer>
			<key>HasBuildingIndex</key>
			<integer>-1</integer>
			<key>IsPath</key>
			<false/>
			<key>IsEnvironment</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
