<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Energy_brown bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,1486},{505,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,52}}</string>
                <key>sourceSize</key>
                <string>{505,52}</string>
            </dict>
            <key>Energybarblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2871,1104},{499,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{499,47}}</string>
                <key>sourceSize</key>
                <string>{505,49}</string>
            </dict>
            <key>amount_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2871,1157},{447,134}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{447,134}}</string>
                <key>sourceSize</key>
                <string>{507,170}</string>
            </dict>
            <key>autumtimeclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3002,1297},{228,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,186}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>banditicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3852,759},{143,130}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{143,130}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2573,1486},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>blackscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{2052,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2052,1540}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
            <key>buildingHospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{3789,1231},{128,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>food_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{3775,1098},{134,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>happyFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2871,614},{484,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,484}}</string>
                <key>sourceSize</key>
                <string>{484,484}</string>
            </dict>
            <key>hospital icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3879,1369},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>infor display ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,4},{335,439}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{335,439}}</string>
                <key>sourceSize</key>
                <string>{339,443}</string>
            </dict>
            <key>main-game-buttons_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,1190},{340,290}}</string>
                <key>offset</key>
                <string>{-81,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{340,290}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>main-game-buttons_cancel_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,1190},{340,290}}</string>
                <key>offset</key>
                <string>{-81,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{340,290}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>money_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{3361,995},{198,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,89}}</string>
                <key>sourceSize</key>
                <string>{200,93}</string>
            </dict>
            <key>nextButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3236,1297},{190,190}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{190,190}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>normalFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,4},{794,792}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,792}}</string>
                <key>sourceSize</key>
                <string>{804,804}</string>
            </dict>
            <key>objectiveScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2062,802},{803,382}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{803,382}}</string>
                <key>sourceSize</key>
                <string>{819,394}</string>
            </dict>
            <key>optionmenubutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3666,1388},{115,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,125}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>pauseIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3670,614},{176,286}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,113},{176,286}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>peaceicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3666,1244},{117,138}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>population_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3610,1098},{159,140}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,140}}</string>
                <key>sourceSize</key>
                <string>{163,170}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2862,4},{804,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,604}}</string>
                <key>sourceSize</key>
                <string>{804,604}</string>
            </dict>
            <key>ren_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2754,1190},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2754,1297},{242,238}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{242,238}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>springtimeclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3684,906},{228,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,186}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>summertimeclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3376,1090},{228,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,186}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>test_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3361,614},{303,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,301}}</string>
                <key>sourceSize</key>
                <string>{303,301}</string>
            </dict>
            <key>timeclock0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3432,1282},{228,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,186}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>timeclock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3672,449},{316,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{316,154}}</string>
                <key>sourceSize</key>
                <string>{316,188}</string>
            </dict>
            <key>timeclock_week1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3918,895},{86,144}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>timeclock_week2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3918,1045},{86,144}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>timeclock_week3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3787,1388},{86,144}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,144}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>timeclock_week4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3852,609},{146,144}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{146,144}}</string>
                <key>sourceSize</key>
                <string>{234,188}</string>
            </dict>
            <key>worker availablevertbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{3923,1195},{41,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,150}}</string>
                <key>sourceSize</key>
                <string>{41,150}</string>
            </dict>
            <key>worker availablevertbarinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{3324,1157},{25,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{25,124}}</string>
                <key>sourceSize</key>
                <string>{41,150}</string>
            </dict>
            <key>yellow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3361,921},{317,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{317,68}}</string>
                <key>sourceSize</key>
                <string>{317,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameHUD.png</string>
            <key>size</key>
            <string>{4011,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de404a1eebcbd20ca26bf98ceb10dab:6355144f48b1b0403eef9570cbdbba06:e4bb291d3d5e8650de892982ff34a4f3$</string>
            <key>textureFileName</key>
            <string>GameHUD.png</string>
        </dict>
    </dict>
</plist>
