<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Energy_brown bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1784},{501,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,48}}</string>
                <key>sourceSize</key>
                <string>{501,48}</string>
            </dict>
            <key>Energybarblue.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1834},{495,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{495,43}}</string>
                <key>sourceSize</key>
                <string>{501,45}</string>
            </dict>
            <key>amount_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1466},{443,130}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{443,130}}</string>
                <key>sourceSize</key>
                <string>{503,166}</string>
            </dict>
            <key>banditicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1681},{139,126}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{139,126}}</string>
                <key>sourceSize</key>
                <string>{139,134}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,786}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,786}}</string>
                <key>sourceSize</key>
                <string>{1024,786}</string>
            </dict>
            <key>food_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1681},{130,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,123}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>happyFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,984},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>infor display ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,984},{331,435}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{331,435}}</string>
                <key>sourceSize</key>
                <string>{335,439}</string>
            </dict>
            <key>main-game-buttons_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1580},{336,286}}</string>
                <key>offset</key>
                <string>{-81,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{336,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>main-game-buttons_cancel_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{336,286}}</string>
                <key>offset</key>
                <string>{-81,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{336,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>money_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1456},{194,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{194,85}}</string>
                <key>sourceSize</key>
                <string>{196,89}</string>
            </dict>
            <key>nextButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1268},{186,186}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{186,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>normalFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{790,788}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,788}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>objectiveScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,604},{799,378}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{799,378}}</string>
                <key>sourceSize</key>
                <string>{815,390}</string>
            </dict>
            <key>optionmenubutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,984},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,121}}</string>
                <key>sourceSize</key>
                <string>{113,123}</string>
            </dict>
            <key>pauseIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,984},{172,282}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,113},{172,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>peaceicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1543},{113,134}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,134}}</string>
                <key>sourceSize</key>
                <string>{139,134}</string>
            </dict>
            <key>population_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1543},{155,136}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{155,136}}</string>
                <key>sourceSize</key>
                <string>{159,166}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>ren_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1781},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1639},{238,234}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{238,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>springtimeclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,790},{224,182}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{224,182}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>timeclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1598},{415,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,184}}</string>
                <key>sourceSize</key>
                <string>{415,184}</string>
            </dict>
            <key>timeclock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1487},{312,150}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{312,150}}</string>
                <key>sourceSize</key>
                <string>{312,184}</string>
            </dict>
            <key>timeclock_week1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,1249},{82,140}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,140}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>timeclock_week2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1639},{82,140}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,140}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>timeclock_week3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,1107},{82,140}}</string>
                <key>offset</key>
                <string>{-70,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,140}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>timeclock_week4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1598},{142,140}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{142,140}}</string>
                <key>sourceSize</key>
                <string>{230,184}</string>
            </dict>
            <key>worker availablevertbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,2},{37,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,146}}</string>
                <key>sourceSize</key>
                <string>{37,146}</string>
            </dict>
            <key>worker availablevertbarinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,1107},{21,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{21,120}}</string>
                <key>sourceSize</key>
                <string>{37,146}</string>
            </dict>
            <key>yellow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1421},{313,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{313,64}}</string>
                <key>sourceSize</key>
                <string>{313,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameHUD.png</string>
            <key>size</key>
            <string>{1896,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edcffcd7aba1b3b662cd23c7672e74c1:4f44fb9a1037234b887816ae3d1aa88b:e4bb291d3d5e8650de892982ff34a4f3$</string>
            <key>textureFileName</key>
            <string>GameHUD.png</string>
        </dict>
    </dict>
</plist>
