<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,3599},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,3478},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>charbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,3096},{219,219}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{219,219}}</string>
                <key>sourceSize</key>
                <string>{221,223}</string>
            </dict>
            <key>create.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,3460},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>create_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,3339},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>inputBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,3096},{678,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{678,98}}</string>
                <key>sourceSize</key>
                <string>{680,102}</string>
            </dict>
            <key>inputBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,3096},{678,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{678,98}}</string>
                <key>sourceSize</key>
                <string>{680,102}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,3321},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>loginPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1550},{2052,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2052,1540}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
            <key>login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,3200},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>newsplashpage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{2052,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2052,1540}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
            <key>trophyscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,3096},{1010,824}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,824}}</string>
                <key>sourceSize</key>
                <string>{1010,826}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainGamePageTexture.png</string>
            <key>size</key>
            <string>{2060,3924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97611f9d1de4210f52277714dc2fd8dc:17b6a1337542824ab2a906768fd8c653:4cb3508663896acbff1fe8c76c93b362$</string>
            <key>textureFileName</key>
            <string>MainGamePageTexture.png</string>
        </dict>
    </dict>
</plist>
