<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,79},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>accept_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,150},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>fullScroller.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1693,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{1693,415}}</string>
                <key>sourceSize</key>
                <string>{1701,427}</string>
            </dict>
            <key>reject.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,221},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>reject_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,292},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>skip_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,4},{198,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,69}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mix.png</string>
            <key>size</key>
            <string>{1905,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c47abd17ca4b3392b308b8b9de6463:b7560ddb58bff6610d2046293d50fe56:a9b973fbcd53817bdd5593f08a116d77$</string>
            <key>textureFileName</key>
            <string>mix.png</string>
        </dict>
    </dict>
</plist>
