<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nofood_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noFoodEmote.png</string>
            <key>size</key>
            <string>{260,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fa3f7e480efb0169b1899e24ec15c05:6e79e4d40e9fdfeecc81e38eebc45806:986221e9e20fd67c25c068ad91a59f6a$</string>
            <key>textureFileName</key>
            <string>noFoodEmote.png</string>
        </dict>
    </dict>
</plist>
