<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Studentboy_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1072},{216,516}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{216,516}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>Studentboy_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,554},{216,516}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{216,516}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>bandit_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1102},{270,508}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{270,508}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>caocao_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{276,550}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{276,550}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>dragon_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,510}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{468,510}}</string>
                <key>sourceSize</key>
                <string>{500,554}</string>
            </dict>
            <key>liubei_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{268,540}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{268,540}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>refugee_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,552},{272,548}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{272,548}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>studentgirl_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1070},{262,514}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{262,514}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>studentgirl_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,554},{262,514}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{262,514}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>villager_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{278,544}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{278,544}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
            <key>zhugeliang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{288,548}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{288,548}}</string>
                <key>sourceSize</key>
                <string>{300,554}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>packedportraits.png</string>
            <key>size</key>
            <string>{1044,1612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462db260e7299eec26426228b72ccc96:d9d4188627a0e10a476313b23ef0185d:00e4705654fc6590fe91e8618a85f308$</string>
            <key>textureFileName</key>
            <string>packedportraits.png</string>
        </dict>
    </dict>
</plist>
