<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>earthquakeEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,543},{464,308}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,114},{464,308}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>goodharvest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,542},{464,314}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,108},{464,314}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>goodweather.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,543},{464,308}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,114},{464,308}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>peaceful.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,543},{464,308}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,114},{464,308}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>rainingEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2241,4},{464,392}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{464,392}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>scroller_breaknews.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{1463,533}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1463,533}}</string>
                <key>sourceSize</key>
                <string>{1463,535}</string>
            </dict>
            <key>scrollerbreaknews.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,4},{762,532}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,115},{762,532}}</string>
                <key>sourceSize</key>
                <string>{1028,772}</string>
            </dict>
            <key>typoonEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2241,402},{464,364}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,58},{464,364}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RandomEventsArt.png</string>
            <key>size</key>
            <string>{2709,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9300e99585e62775e98b1456366a32cc:6916ea6dce58f895872327dd9fd274b7:9f671c34a5f45e5b364239799c799900$</string>
            <key>textureFileName</key>
            <string>RandomEventsArt.png</string>
        </dict>
    </dict>
</plist>
