<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1550},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>accept_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1550},{198,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,65}}</string>
                <key>sourceSize</key>
                <string>{202,69}</string>
            </dict>
            <key>achievementscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{2052,1540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2052,1540}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ScoreMenu.png</string>
            <key>size</key>
            <string>{2060,1619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d32379402470ac0c1e6b321169e514f:6ee6cc1bc70f226e70d1dd177cc69ece:be67c87f10aee2826f9a7f17f20f7f9d$</string>
            <key>textureFileName</key>
            <string>ScoreMenu.png</string>
        </dict>
    </dict>
</plist>
