<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starvingandstuck.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,196}}</string>
                <key>sourceSize</key>
                <string>{198,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starvingEmote.png</string>
            <key>size</key>
            <string>{198,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1957b2f5c3d65a96f862b01965ea26b:d0ca35f01f0fecc46ff9ce533120e92b:6abbdd503b23dddffeb5f29e2894f7d1$</string>
            <key>textureFileName</key>
            <string>starvingEmote.png</string>
        </dict>
    </dict>
</plist>
