<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PauseMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{348,517}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{348,517}}</string>
                <key>sourceSize</key>
                <string>{348,523}</string>
            </dict>
            <key>exitbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,527},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>exitpressbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,638},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>resumebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,749},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>resumepressbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,860},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>system_load.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,971},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>system_load_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1082},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>system_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1193},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
            <key>system_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1304},{254,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{260,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SystemMenu.png</string>
            <key>size</key>
            <string>{356,1413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:585a06df71116dbb11993d07d2109fd5:10a9028c3d5bd0101ff69b643eb91db0:793a479ad200106a70ef52e9bfc8bb31$</string>
            <key>textureFileName</key>
            <string>SystemMenu.png</string>
        </dict>
    </dict>
</plist>
