<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adminscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{2048,1496}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{2048,1496}}</string>
                <key>sourceSize</key>
                <string>{2052,1540}</string>
            </dict>
            <key>confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2238,282},{250,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,76}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>confirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2238,364},{250,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,76}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,1363},{64,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>delete_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,1294},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1363},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>load_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,446},{250,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,76}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>load_button_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,528},{250,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,76}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>load_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2428,1220},{62,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>load_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,282},{174,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,155}}</string>
                <key>sourceSize</key>
                <string>{174,163}</string>
            </dict>
            <key>load_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1372},{60,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,4},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>logout_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,143},{465,133}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{465,133}}</string>
                <key>sourceSize</key>
                <string>{475,139}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,1220},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>reset_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,1372},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>scenario1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,443},{148,148}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,1220},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{142,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,764},{144,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{144,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,597},{148,148}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario2_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2366,610},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{142,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1059},{144,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{144,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,751},{148,148}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario3_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2362,764},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{142,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1211},{144,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{144,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,610},{148,148}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario4_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2362,916},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{142,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario4_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,916},{144,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{144,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,905},{148,148}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,6},{148,148}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario5_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2358,1068},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{142,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
            <key>scenario5_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,1068},{144,146}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,7},{144,146}}</string>
                <key>sourceSize</key>
                <string>{254,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teacherManagement.png</string>
            <key>size</key>
            <string>{2527,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bdbcbec47a3aee4fdda91c84b594f0:f7aa9692703d6447b6105f0204ad9b15:c85e447a7cdea9b4cd66f5de384b28c5$</string>
            <key>textureFileName</key>
            <string>teacherManagement.png</string>
        </dict>
    </dict>
</plist>
